#main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.poem {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  margin: 20px;
  text-align: center;
}

h1 {
	font-family: courier; 
}

@media screen and (max-width: 300px) {
  .poem {
  width: 100%;
  }
}
