nav:after {
  display: table;
  content: '';
  clear: both;
}

#navbar {
	background-color: gray;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	margin: 20px;
	float: right;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	font-style: italic;
	font-size: 24pt; 
}

.body {
	text-align: left;
	font-size: 16pt;
	font-style: inherit;
}

img {
	margin: 20px;
}